@mixin container() {
  min-width: 320px;
  padding: 0 30px;
  margin: 0 auto;

  @media #{$tablet-width} {
    // min-width: 648px;
    // max-width: 668px;
    padding: 0 50px;
  }

  @media #{$desktop-width} {
    // min-width: 1030px;
    max-width: 1050px;
  }
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin font-set($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin transition($property, $time, $transition) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: $transition;
}
