$font-primary: "Open Sans", "Arial", sans-serif;
$font-size: 16px;
$line-height: 1.5;
$black: #000000;
$white: #ffffff;
$dark: #444444;
$primary-color: #63d1bb;
$secondary-color: #46c1ae;
$third-color: #149080;
$color-bg: #f1f1f1;
$mobile-width-only: "(max-width: 767px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1150px)";
