.about {
  @include container;
  margin-bottom: 50px;
}

.about__title {
  @include font-set(25px, 30px, bold);
  margin-bottom: 30px;
}

.about__list {
  padding: 0;
  list-style: none;
}

.about__item {
  @include font-set(17px, 20px, bold);
  margin-top: 29px;
}

.about__icon {
  display: block;
  width: 50px;
  height: 35px;
  margin-bottom: 20px;
  fill: $primary-color;
}

@media #{$tablet-width} {
  .about {
    @include container;
    margin-bottom: 75px;
  }

  .about__title {
    @include font-set(43px, 50px, bold);
    margin-bottom: 5px;
  }

  .about__list {
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
  }

  .about__item {
    @include font-set(20px, 22px, bold);
    width: 50%;
    margin-top: 55px;
    box-sizing: border-box;
  }

  .about__item:nth-child(1) {
    margin-top: 40px;
    padding-right: 80px;
    order: 1;
  }

  .about__item:nth-child(2) {
    order: 3;
  }

  .about__item:nth-child(3) {
    padding-right: 100px;
    order: 5;
  }

  .about__item:nth-child(4) {
    margin-top: 40px;
    padding-right: 79px;
    order: 2;
  }

  .about__item:nth-child(5) {
    order: 4;
  }

  .about__item:nth-child(6) {
    padding-right: 100px;
    order: 6;
  }
}

@media #{$desktop-width} {
  .about {
    margin-bottom: 65px;
  }

  .about__title {
    @include font-set(53px, 57px, bold);
    padding-left: 175px;
  }

  .about__list {
    padding-left: 175px;
  }

  .about__item {
    width: 40%;
    margin-top: 58px;
  }
}
