.btn {
  display: inline-block;
  padding: 15px;
  border: 2px solid #444444;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  width: 100%;
  box-sizing: border-box;
  color: #444444;
}
