.btn {
  @include font-set(17px, 20px, bold);
  display: inline-block;
  width: 100%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  border: 2px solid $dark;
  color: $dark;
  box-sizing: border-box;
  outline: none;

  &:hover {
    color: $white;
    background-color: $dark;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}
