.catalog {
  @include container;
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog__item {
  margin-top: 30px;
  border: 1px solid darken($color-bg, 2%);
}

.catalog__image {
  font-size: 0;

  & img {
    width: 100%;
    height: auto;
  }
}

.catalog__info {
  padding: 22px 26px 27px;
}

.catalog__title {
  @include font-set(17px, 24px, bold);
  margin: 0;
  margin-bottom: 5px;
  color: $black;
}

.catalog__title-link {
  text-decoration: none;
}

.catalog__text {
  @include font(13px, 30px);
  margin: 0;
  margin-bottom: 19px;
  color: $dark;
}

.catalog__order {
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid darken($color-bg, 2%);
}

.catalog__price {
  @include font-set(15px, 24px, bold);
  margin-top: 5px;
}

@media #{$tablet-width} {
  .catalog__item {
    display: flex;
    min-height: 334px;
    margin-bottom: 50px;
  }

  .catalog__image {
    width: 395px;

    & img {
      width: auto;
      min-height: 100%;
    }
  }

  .catalog__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
  }

  .catalog__desc {
    flex-grow: 1;
  }

  .catalog__title {
    @include font-set(20px, 24px, bold);
  }

  .catalog__text {
    @include font(15px, 30px);
  }

  .catalog__price {
    @include font-set(17px, 24px, bold);
  }
}

@media #{$desktop-width} {
  .catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .catalog__item {
    flex-direction: column;
    width: 315px;
  }

  .catalog__image {
    width: auto;

    & img {
      width: 100%;
      min-height: auto;
    }
  }

  .catalog__info {
    width: auto;
    flex-grow: 1;
  }
}
