.catalog {
  @include container;
}

.catalog__item {
  margin-top: 30px;
  border: 1px solid darken($color-bg, 2%);
}

.catalog__image {
  font-size: 0;

  & img {
    width: 100%;
    height: auto;
  }
}

.catalog__info {
  padding: 25px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 5px;
  @include font-set(17px, 24px, bold);
  color: $black;
}

.catalog__title-link {
  text-decoration: none;
}

.catalog__text {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  @include font(13px, 30px);
  color: $dark;
  border-bottom: 1px solid darken($color-bg, 2%);
}

.catalog__price {
  margin-top: 5px;
  @include font-set(15px, 24px, bold);
}
