.category__item {
  display: block;
  padding: 26px 30px;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: white;
  &--left {
    background-color: #63d1bb;
  }
  &--right {
    background-color: #56c3b2;
  }
}
