.category {
  margin-bottom: 25px;
}

.category__item {
  display: block;
  padding: 26px 30px;
  text-decoration: none;
  @include font-set(19px, 24px, bold);
  color: $white;

  &--left {
    background-color: $primary-color;
  }

  &--right {
    background-color: lighten($secondary-color, 4%);
  }
}
