.category {
  margin-top: -210px;
  margin-bottom: 25px;
}

.category__item {
  @include font-set(19px, 24px, bold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 30px;
  text-decoration: none;
  color: $white;

  &--left {
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 2%);
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--right {
    background-color: lighten($secondary-color, 4%);

    &:hover {
      background-color: $secondary-color;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }
}

.category__title {
  width: 150px;
}

@media #{$tablet-width} {
  .category {
    @include container;
    display: flex;
    justify-content: space-between;
    margin-top: -110px;
  }

  .category__item {
    padding: 35px;
    flex-basis: 50%;
  }
}

@media #{$desktop-width} {
  .category {
    margin-bottom: 83px;
  }

  .category__item {
    @include font-set(20px, 30px, bold);
    padding-top: 30px;
    padding-bottom: 27px;
  }
}
