.contacts__wrapper {
  @include container;
}

.contacts__title {
  @include font-set(18px, 30px, bold);
  margin-top: 40px;
}

.contacts__info {
  @include font(15px, 30px);
  color: $dark;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;
}

.contacts__label {
  margin-right: 25px;
  align-items: flex-end;
}

.contacts__link {
  text-decoration: none;
  color: $dark;
}

.contacts__text {
  display: inline-block;
  margin: 0;
}

.contacts__btn {
  display: block;
  width: 230px;
  margin: 30px auto;
}

@media #{$tablet-width} {
  .contacts__title {
    @include font-set(43px, 50px, bold);
    margin-bottom: 40px;
  }
  .contacts__info {
    display: flex;
    justify-content: flex-start;
  }

  .contacts__item {
    flex-basis: 50%;
    margin-bottom: 45px;
  }

  .contacts__label {
  }

  .contacts__btn {
    margin: 45px auto;
  }
}

@media #{$desktop-width} {
  .contacts {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
  }

  .contacts__title {
    @include font-set(53px, 57px, bold);
    padding-left: 175px;
    margin-bottom: 60px;
  }

  .contacts__info {
    padding-left: 175px;
    flex-direction: column;
  }

  .contacts__item {
    width: 350px;
  }

  .contacts__iframe {
  }
}
