.contacts__wrapper {
  @include container;
}

.contacts__title {
  @include font-set(18px, 30px, bold);
  margin-top: 40px;
}

.contacts__info {
  @include font(15px, 30px);
  color: $dark;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;
}

.contacts__label {
  margin-right: 25px;
  align-items: flex-end;
}

.contacts__link {
  text-decoration: none;
  color: $dark;
}

.contacts__text {
  display: inline-block;
  margin: 0;
}

.contacts__btn {
  display: block;
  width: 230px;
  margin: 30px auto;
}

@media #{$tablet-width} {
  .contacts__title {
    @include font-set(43px, 50px, bold);
    margin-bottom: 40px;
  }

  .contacts__info {
    display: flex;
    justify-content: flex-start;
  }

  .contacts__item {
    flex-basis: 50%;
    margin-bottom: 45px;
  }

  .contacts__btn {
    margin: 45px auto;
  }
}

@media #{$desktop-width} {
  .contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 75px auto;
    max-width: 1050px;
  }

  .contacts__wrapper {
    position: relative;
    padding-left: 175px;
    padding-right: 0;
    margin: 0;
  }

  .contacts__title {
    @include font-set(53px, 57px, bold);
    margin: 60px 0;
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contacts__item {
    width: 300px;
  }

  .contacts__map {
    width: 500px;
    padding-right: 50px;
  }

  .contacts__btn {
    position: absolute;
    bottom: 5px;
    margin: 0;
  }
}
