.main-nav {
  min-height: 80px;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  padding: 0;
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &--closed::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--opened::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 30px;
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--nojs {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  // display: none;
  margin: 0;
  border-top: 1px solid darken($color-bg, 2%);

  &--arrivals,
  &--sale {
    display: none;
  }

  &--cart {
    border-bottom: 1px solid darken($color-bg, 2%);
  }
}

.main-nav__link {
  @include font-set(17px, 24px, bold);
  display: block;
  padding-top: 28px;
  padding-right: 30px;
  padding-bottom: 28px;
  padding-left: 76px;
  text-decoration: none;
  color: $black;
  // cursor: pointer;

  &--logo {
    @include center;
    padding: 0;
    height: 79px;

    & img {
      width: 86px;
      height: 35px;
    }
  }

  &--search {
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 31px 31px;
  }

  &--cart {
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 31px 31px;
  }

  &--active {
    pointer-events: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media #{$mobile-width-only} {
  .main-nav--closed .main-nav__item {
    display: none;

    &--logo {
      @include center;
    }
  }

  .main-nav--opened .main-nav__list {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: $white;
  }

  .main-nav--nojs .main-nav__item {
    display: block;

    &--arrivals,
    &--sale {
      display: none;
    }
  }
}

@media #{$tablet-width} {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    @include container;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 89px;
  }

  .main-nav__item {
    border: none;

    &--logo {
      width: 44%;
      order: 1;
    }

    &--search {
      margin-left: auto;
      border-left: 1px solid darken($color-bg, 2%);
      order: 2;
    }

    &--cart {
      border-left: 1px solid darken($color-bg, 2%);
      order: 3;
    }

    &--catalog,
    &--form {
      margin-top: 15px;
      padding-right: 34px;
      order: 4;
    }
  }

  .main-nav__link {
    @include font-set(17px, 24px, bold);
    padding: 0;

    &--logo {
      height: auto;
      justify-content: flex-start;

      & img {
        width: 112px;
        height: 46px;
      }
    }

    &--search {
      width: 83px;
      padding: 33px 0;
      font-size: 0;
      background-position: center;
    }

    &--cart {
      padding: 33px 0;
      padding-left: 83px;
      background-position: 31px 35px;
    }

    &--catalog,
    &--form {
      @include font-set(15px, 24px, bold);
    }
  }
}

@media #{$desktop-width} {
  .main-nav__list {
    max-width: 1150px;
    padding: 0;
  }

  .main-nav__item {
    &--catalog,
    &--form {
      margin-top: 0;
      padding-right: 0;
      order: 1;
    }

    &--form {
      border-left: 1px solid darken($color-bg, 2%);
      margin-right: 25px;
    }

    &--logo {
      flex-grow: 1;
      width: auto;
      order: 2;
    }

    &--search {
      margin-left: 0;
      order: 3;
    }

    &--cart {
      order: 4;
    }

    &--arrivals,
    &--sale {
      display: block;
      margin-top: 15px;
      padding-left: 50px;
      padding-right: 10px;
      order: 5;
    }
  }

  .main-nav__link {
    &--logo {
      & img {
        width: 148px;
        height: 72px;
      }
    }
    &--cart {
      padding-right: 50px;
    }

    &--catalog,
    &--form {
      @include font-set(17px, 24px, bold);
      padding: 33px 35px;
    }

    &--catalog {
      padding-left: 50px;
    }

    &--form {
      padding-right: 50px;
    }

    &--arrivals,
    &--sale {
      @include font-set(15px, 24px, bold);
    }
  }
}
