.page-header__intro {
  @include center;
  min-height: 179px;
  background-color: #fafafa;
  border-top: 1px solid darken($color-bg, 2%);

  &--index {
    display: block;
    min-height: 409px;
    padding-top: 90px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.page-header__title {
  @include font-set(27px, 30px, bold);
  margin: 0 auto;
  text-align: center;
  width: 320px;
}

@media #{$tablet-width} {
  .page-header__intro {
    &--index {
      min-height: 578px;
      padding-top: 160px;
      background-image: url("../img/hero-desktop@1x.jpg");
    }
  }

  .page-header__title {
    @include font-set(43px, 50px, bold);
    width: 768px;
  }
}

@media #{$desktop-width} {
  .page-header__intro {
    &--index {
      min-height: 578px;
      padding-top: 155px;
    }
  }

  .page-header__title {
    @include font-set(53px, 57px, bold);
    max-width: 1050px;
  }
}
