.page-footer {
  flex-shrink: 1;
  background-color: $color-bg;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__logo {
  display: none;
}

.page-footer__social,
.page-footer__copyright {
  @include center;
  min-height: 80px;
}

.page-footer__copyright {
  border-top: 1px solid rgba($dark, 0.1);
}

@media #{$tablet-width} {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 140px;
    padding: 0 50px;
  }

  .page-footer__logo {
    @include center;
    justify-content: flex-start;
    width: 33%;

    &-link {
      outline: none;
    }

    &-link:hover,
    &-link:focus {
      fill: $primary-color;
    }

    &-link:active {
      opacity: 0.3;
    }
  }

  .page-footer__social {
    width: 33%;
  }

  .page-footer__copyright {
    justify-content: flex-end;
    width: 33%;
    border: none;
  }
}
