.production {
  @include container;
  margin: 30px;
  padding: 30px;
  border: 1px solid darken($color-bg, 2%);
}

.production__header {
  margin-bottom: 30px;
}

.production__title {
  margin: 0;
  padding-left: 60px;
  @include font-set(17px, 24px, bold);
}

.production__player {
  @include center;
  margin: 0 -30px;
  margin-bottom: 25px;
  text-align: center;

  & img {
    width: 100%;
    height: auto;
  }
}

.production__player-btn {
  position: absolute;
}

.production__text {
  margin: 15px 0;
  @include font(13px, 24px);
  color: $dark;
}

.production__btn {
  margin-top: 15px;
}
