.reviews__wrapper {
  @include container;
  margin-bottom: 5px;
}

.reviews__title {
  @include font-set(25px, 30px, bold);
  margin-bottom: 25px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  @include font(15px, 30px);
  margin-top: 25px;
  margin-bottom: 22px;
  color: $dark;
}

.reviews__author-name {
  @include font-set(17px, 24px, bold);
  display: block;
  padding: 5px 0;
  font-style: normal;
  color: $black;
}

.reviews__author-link {
  @include font(17px, 24px);
  font-style: normal;
  text-decoration: none;
  color: $dark;
}

.reviews__controls {
  position: relative;
  display: flex;
  height: 50px;
  min-width: 240px;
  margin-top: 33px;
  margin-bottom: 8px;
  font-size: 0;
  border: 1px solid $color-bg;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: $color-bg;
  }
}

.reviews__link {
  position: relative;
  width: 50%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &--prev,
  &--next {
    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: 30.63%;
      display: block;
      width: 38.77%;
      height: 4px;
      background-color: $black;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 30.63%;
      display: block;
      width: 16px;
      height: 16px;
      border: 4px solid $black;
      border-top-style: none;
      border-right-style: none;
      transform: rotate(45deg);
    }
  }

  &--next {
    &::after {
      left: auto;
      right: 30.63%;
      transform: rotate(225deg);
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__btn {
  margin: 28px 0;
}

@media #{$tablet-width} {
  .reviews {
    margin-bottom: 64px;
  }

  .reviews__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;
    background-position: left 10px;

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    @include font-set(43px, 50px, bold);
    width: 30%;
    order: -2;
  }

  .reviews__text {
    @include font(17px, 30px);
    margin-top: 23px;
    margin-bottom: 53px;
  }

  .reviews__author-name {
    @include font-set(18px, 24px, bold);
  }

  .reviews__controls {
    position: absolute;
    bottom: 45px;
    right: 40px;
    border: none;

    &::after {
      display: none;
    }
  }

  .reviews__btn {
    width: 175px;
    margin-top: 38px;
    margin-bottom: 20px;
    margin-left: auto;
    order: -2;
  }
}

@media #{$desktop-width} {
  .reviews {
    margin-bottom: 68px;
  }

  .reviews__wrapper {
    padding-right: 0;
    padding-top: 50px;
    padding-left: 175px;
    padding-bottom: 100px;
    box-sizing: border-box;
    background-position: left 20px;
  }

  .reviews__title {
    @include font-set(53px, 57px, bold);
  }

  .reviews__text {
    width: 90%;
    margin-bottom: 33px;
  }

  .reviews__author-name {
    @include font-set(17px, 24px, bold);
  }

  .reviews__controls {
    bottom: 90px;
    right: -15px;
  }

  .reviews__btn {
    margin-top: 50px;
  }
}
