.reviews {
  @include container;
}

.reviews__title {
  @include font-set(25px, 30px, bold);
  margin: 20px 0;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  @include font(15px, 30px);
  margin: 20px 0;
  color: $dark;
}

.reviews__author-name {
  display: block;
  font-style: normal;
  color: $black;
}

.reviews__author-link {
  font-size: 17px;
  font-style: normal;
  text-decoration: none;
  color: $dark;
}

.reviews__controls {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.reviews__btn {
  margin: 30px 0;
}

@media #{$tablet-width} {
  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .reviews__title {
    @include font-set(43px, 50px, bold);
  }

  .reviews__slider {
    //
  }

  .reviews__item {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .reviews__controls {
    position: absolute;
    bottom: 2px;
    right: 0;
  }

  .reviews__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
    margin: 18px 0;
  }
}

@media #{$desktop-width} {
  .reviews__title {
    @include font-set(53px, 57px, bold);
    padding-left: 175px;
  }

  .reviews__slider {
    padding-left: 175px;
  }

  .reviews__btn {
    margin: 22px 0;
  }
}
